.line {
    height: 5px;
    background-color: #88d8c0;
}

.heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: blue;
}
.topbar {
    height: 55px; 
}
img.logo {
    position: absolute;
    float: left;
    height: 75px;
    width: 75px;
    top: -2px;
}
img.home {
    position: relative;
    float: right;
    top: -55px;
    padding-right: 35px;
}