.line {
    height: 5px;
    background-color: #88d8c0;
}

.heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: green;
}
.topbar {
    height: 10%; 
}
img.logo {
    position: absolute;
    float: left;
    height: 75px;
    width: 75px;
    top: 0%;
}
.navbar {
    padding:20px;
    align-items: center;
}
.Home {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    background-color: white;
    padding:10px;
    border-radius: 10px;
    transition: 0.5s;
    align-items: center;
    margin: auto;
    margin-left: 35%;
}
.Projects {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    background-color: white;
    padding:10px;
    border-radius: 10px;
    transition: 0.5s;
    align-items: center;
    margin: auto;
    margin-left: 5%;
}
.welcome {
    font-family: Georgia, 'Times New Roman', Times, serif;
    size: 50%;
    opacity: 100%;
    z-index: 10;
    text-align: center;
}
.mainblock {
    margin: auto;
    width: 75%;
    height: 50px;
    background-color: purple;
    opacity: 25%;
}
.Home:hover {
    background-color:#F88379;
}
.Projects:hover {
    background-color:#F88379;
}